<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>
    Take Photo
  </ion-button> 

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)" ></ion-icon>
          <img [src]="photo" *ngIf="photo" >
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
