<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Dog App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dog App</ion-title>
    </ion-toolbar>
  </ion-header>

  <h4>Try searching {{favDog}} in list of dogs</h4> 
  <ion-button [routerLink]="['/dogs-page']" expand="block" fill="outline">Check out List of Dogs</ion-button>

  <ion-button [routerLink]="['/random-dog']" expand="full" shape="round" color="secondary" >Random Dog Page</ion-button>


  <ion-grid>
    <ion-row>
      <ion-col col-6 >
        <ion-card>
          <h4>{{myStatus}}</h4>
          <img src="{{dogPic}}" >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> <p>How much do you love dogs?</p></ion-col>
      <ion-col> <ion-button [routerLink]="['/dog-status']" shape="round" color="medium">Update here</ion-button></ion-col>
    </ion-row>
  </ion-grid>


<ion-button size="large" [routerLink]="['/camera']" shape="round" >
  <ion-icon name="camera-sharp"></ion-icon>
   Photos 
  <ion-icon name="paw"></ion-icon>
</ion-button>

</ion-content>
